body {
    background-color: #FED90F;
}

h1 {
    color: #FFFFFF;
    font-size: 80px;
    text-align: center;
    padding: 10px;
}

.form-inline {
    margin: auto;
}

.quotes{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

